<style>
.c{
  color: #006666;
  text-indent: 20px;
  font-size: 20px;
  }
  .im{
    position: relative;
    top: 10px;
  }
  p a:hover {
    background-color: #d1e0e0;
  }
  ul{
    position: relative;
    top: -134px;
    font-size: 25px;
    left: 1643px;
  }
  ul#menu li {
  display:inline;
  }
  li a {
  padding: 14px 16px;
  text-decoration: none;
  }
  li a:hover {
  background-color: #d1e0e0;
  }
  table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  }
  th, td {
    color: #649293;
    font-size: 25px;
    padding: 1px;
    text-align: left;
  }
</style>
<ul id="menu">
<li><a href="<%= new_category_path %>">Add</a></li>
<li class="im"><%= link_to image_tag("/assets/back.jpg", height: '40', width: '40'), home_index_path %></li>
</ul>
<center>
<table style="width:70%">
  <tr>
    <th>Category Name</th>
    <th>Delete</th>
  </tr>
<% @categories.each do |c| %>
  <tr><td><%= c.name %></td>
  <td><%= link_to image_tag("/assets/delete.jpg", height: '20', width: '20'),category_path(c.id), method: :delete ,data: {confirm: "Are you sure?"} %></td>
  </tr>
<% end %>
</table>
</center>