<style>
.b{
  font-size: 20px;
  position: relative;
  top: -158px;
  padding-left: 1170px;
}
</style>
<p class="b"><%= link_to image_tag("/assets/back.jpg", height: '30', width: '30'), home_index_path %></p>
<h2><%= @category.name %></h2>